{% extends "DashboardTilePanel.html" %} {% block contextual_alternative
%}default{% endblock %} {% block tile_heading_title %} GPIO {% endblock
%} {% block tile_heading_right %}
<span class="glyphicon glyphicon-wrench"></span>
{% endblock %} {% block tile_body_content %} DO we need some Text here?.
{% endblock %} {% block tile_body_action %} {% endblock %} {% block
tile_additional_body %}

<script type=text/javascript>
	function go(id) {
		$.getJSON($SCRIPT_ROOT + '/gpio', {
			key : 'switch',
			which : id
		}, function(data) {
			if (data.status === 'high') {
				$('#' + id + ' span').addClass('glyphicon-check').removeClass(
						'glyphicon-unchecked');
			} else if (data.status === 'low') {
				$('#' + id + ' span').addClass('glyphicon-unchecked')
						.removeClass('glyphicon-check');
			}
		});
	};
</script>

<div class="list-group">

  <div class="list-group-item">
    <button id="multi_1" class="btn btn-primary" type="button"
      onclick="go('multi_1')">
      <span class="glyphicon glyphicon-unchecked"></span>
    </button>
    <strong> <span class="glyphicon glyphicon-lamp"></span> Lamp</strong>
  </div>

  <div class="list-group-item">
    <button id="multi_2" class="btn btn-primary" type="button"
      onclick="go('multi_2')">
      <span class="glyphicon glyphicon-unchecked"></span>
    </button>
    <strong> <span class="glyphicon glyphicon-music"></span> Sspeaker</strong>
  </div>

</div>

{% endblock %}

