{% extends "JursiBasePage.html" %}

{% block title %}Light switch{% endblock %}
{% block subtitle %}The power in your hand{% endblock %}

{% block toolbar %}
	{{ super() }}
	<!-- 
	<button class="btn btn-primary" type="button">
		<span class="glyphicon glyphicon-question-sign"></span> TODO
	</button>
	 -->
{% endblock %}

{% block content %}
	<h2><span class="glyphicon glyphicon-lamp"></span> Light Control</h2>

<script type=text/javascript>  
  function go(id) {
	  $.getJSON($SCRIPT_ROOT + '/gpio', {
		  key: 'switch',
		  which: id
	  }, function(data) {
		  if(data.status === 'high'){
			  $('#' + id + ' span').addClass('glyphicon-check').removeClass('glyphicon-unchecked');
		  }
		  else if(data.status === 'low'){
			  $('#' + id + ' span').addClass('glyphicon-unchecked').removeClass('glyphicon-check'); 
		  }
	  });
  };
</script>


	<div class="row">
	
	  <div class="col col-md-3 col-sm-6 col-xs-12">
	  	<button id="multi_1" class="btn btn-primary btn-lg btn-block jursi-card-btn" type="button" onclick="go('multi_1')">
			<span class="glyphicon glyphicon-unchecked"></span>
	  	<strong> Baum-Lampe</strong>
		</button>
	  </div>
	  
	  <div class="col col-md-3 col-sm-6 col-xs-12">
      <button id="multi_2" class="btn btn-primary btn-lg btn-block jursi-card-btn" type="button" onclick="go('multi_2')">
			<span class="glyphicon glyphicon-unchecked"></span>
	  	<strong> Schrank-Lampe</strong>
		</button>
	  </div>

	  <div class="col col-md-3 col-sm-6 col-xs-12">
	  	<button id="multi_3" class="btn btn-primary btn-lg btn-block jursi-card-btn" type="button" onclick="go('multi_3')">
			<span class="glyphicon glyphicon-unchecked"></span>
	  	<strong> Test 3</strong>
		</button>
	  </div>
	  
	  <div class="col col-md-3 col-sm-6 col-xs-12">
	  	<button id="multi_4" class="btn btn-primary btn-lg btn-block jursi-card-btn" type="button" onclick="go('multi_4')">
			<span class="glyphicon glyphicon-unchecked"></span>
	  	<strong> Test 4</strong>
		</button>
	  </div>
    <!--
	  <div class="list-group-item">
	  	<button id="multi_2" class="btn btn-primary" type="button" onclick="go('multi_2')">
			<span class="glyphicon glyphicon-unchecked"></span>
		</button>
	  	<strong> Multiplug 2 (Speaker)</strong>
	  </div>
	  
	  <div class="list-group-item">
	  	<button id="multi_3" class="btn btn-primary" type="button" onclick="go('multi_3')">
			<span class="glyphicon glyphicon-unchecked"></span>
		</button>
	  	<strong> Multiplug 3</strong>
	  </div>
	  
          <div class="list-group-item">
	  	<button id="multi_4" class="btn btn-primary" type="button" onclick="go('multi_4')">
			<span class="glyphicon glyphicon-unchecked"></span>
		</button>
	  	<strong> Multiplug 4</strong>
	  </div>
    -->

	</div>
  <hr/>
	
{% endblock %}
